@import "tailwindcss";

:root {
  --background: #F8F4F0;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brandGold: #85754E;
  --color-accentBlue: #152F4C; 
  --color-accentGray: #FFFFFF; 
  --color-accentSand: #F8F4F0;
  --color-actionRed: #EB4F67;
  --font-sans: "Lato", sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lato", sans-serif;
  padding-top: 29px; /* Space for Header (change value if Header height changes) */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-brandGold);
}

.container-custom {
  @apply mx-auto px-4;
}

.container-footer {
  @apply max-w-7xl mx-auto px-4;
}

[id] {
  scroll-margin-top: 8rem;
}